# Игнорировать папки __pycache__
__pycache__/

# Игнорировать скомпилированные файлы Python
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/
env/
.venv/
.test.env
# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы зависимостей
*.egg-info/
dist/
build/

# Игнорировать файлы журналов и кэша
*.log
*.cache

.env
.bashrc
